nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

nav h1 {
  font-family: "Lucida Handwriting", cursive;
  color: rgb(236, 236, 245);
}


nav a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 0px 10px;
  color: rgb(236, 236, 245);
}

nav a:hover {
  cursor: pointer;
  color: rgb(80, 80, 99);;
}

nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menuBtn {
  display: none;
  border: transparent;
  font-size: 2em;
  cursor: pointer;
  border-radius: 8px;
}

.menuList {
  width: fit-content;
  background-color: blue;
  height: 100px;
  display: flex;
  flex-direction: column;
  float: right;
  border: rgb(236, 236, 245);
  padding: 10px;
  margin-top: 0px;
  display: none;
}

.menuList a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 0px 10px;
  color: rgb(236, 236, 245);
}

.menuList a:hover {
  color: rgb(80, 80, 99);
}

@media screen and (max-width: 600px) {
  nav a {
    display: none;
    color: black;
    font-size: 0.5em;
  }

  nav img {
    display: none;
  }

  .menuBtn {
    display: block;
  }

}

.mainHeading {
  font-family: "Lucida Handwriting", cursive;
  color: blue;
  margin: 40px;
  text-align: center;
  text-decoration: underline;
  font-size: 3em;
}

.allBlogDiv {
  display: flex;
  flex-direction: column;
}
.topDiv{
  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.topDiv1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.topDiv1 h1{
  font-family: "Lucida Handwriting", cursive;
}
.userImg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.blogImg{
  width: 40%;
  height: 8em;
  border-radius: 10px;
  margin: 0px auto;
}
.blogTitle{
  font-family: "Lucida Handwriting", cursive;
}
.blogDesc{
  font-size: 1em;
}
